.form_input{
    position: relative;
    right: 45vw;
    bottom: 10vh;
    margin-top: 70px;
    margin-bottom: -100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
.form_input div{
    height: 100px;
    width: 60vw;
    border: 1px solid #ccc;
    background-color: white;
    padding: 5px 10px;
    outline: none;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: left;
    overflow: scroll;
}

.form_input input {
    height: 50px;
    width: 60vw;
    border: 1px solid #ccc;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    outline: none;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 3px;
}

.form_input button{
    background: #333;
    color: white;
    padding: 10px 0;
    width: 150px;
    margin: 20px 0;
}

.form_input button:hover {
    cursor: pointer;
    background-color: rgb(140, 147, 153);
}

.form_input p {
    color: white;
    margin: 15px 0px;
    font-size: 20px;
}