
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.link {
    text-decoration: none;
    
}


.createPostContain {
    position: relative;
    font-family: "Poppins", sans-serif;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    perspective: 1000px;
    flex-wrap: wrap; 

}

.backContain {
    position: absolute;
    top: 15vh;
    left: 30vw;
    padding-left: 20px;
    margin-bottom: 5px;
    width: 30vw;
    display: flex;
    justify-content: flex-start;
}


.backBt {
    width: 35px;
    height: 35px;
    background-color: rgb(127, 251, 255);
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.backBt:hover {
    cursor: pointer;
    background-color: rgb(80, 152, 165);
}


.createPost {
    height: 65vh;
    width: 40vw;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.createPost h1 {
    color: white;
}


 .newTitle {
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.75s ease-out;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    outline: none;
    width: 75%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.342);
    color: white;
    margin-bottom: 15px;
}


 .openTitle {
    position: absolute;
    top: 5vh; 
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.75s ease-out;
    text-align: center;
    text-decoration: none;
}


.description {
    font-size: 15px;
    padding: 0px 5px;
}

.date {
    font-size: 0.5rem;
    color: lightgray;
}

.createPost p {
    font-size: 12px;
    margin-top: -60px;
    color: rgba(155, 155, 155, 0.795);
}

.textInput {
    font-family: "Poppins", sans-serif;
    width: 75%;
    height: 25%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.342);
    color: white;
    padding: 10px;
    text-align: left;
    margin-bottom: 15px;
}

.submitTicket {
    background: rgb(92, 92, 92);
    color: white;
    padding: 10px 0;
    width: 125px;
    /* margin: 5px 0; */
}

.submitTicket:hover, .select:hover {
    cursor: pointer;
    background-color: rgb(140, 147, 153);
}

.select {
    background: rgb(92, 92, 92);
    color: white;
    padding: 10px 0;
    width: 160px;
    font-size: 12px;
}

.choose_file {
    color: white;
}


