
.header {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 10;
    top: 0%;
    background-color: lightgrey;
}

.header__logo {
    height: 25px;
    object-fit: contain;
    margin-left: 25px;
}

.header__input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    /* border: 1px solid black; */
}

.header__inputSearch {
    width: 60%;
    height: 3vh;
    padding-left: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

