
.header {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 10;
    top: 0%;
    background: linear-gradient(to bottom, #a5a5a5 0%,#a3a3a3 22%,#777777 87%,#848484 100%);
}

.header__logo {
    height: 25px;
    object-fit: contain;
    margin-left: 25px;
}

/* .header__input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%; */
    /* border: 1px solid black; */
/* } */

/* .header__inputSearch {
    width: 60%;
    height: 3vh;
    padding-left: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
} */


        /* Might move the results elsewhere.... */

/* .user_search {
    top: 300px;
    left: 50px;
    position: absolute;
} */