.header {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 10;
    top: 0%;
    background: linear-gradient(to bottom, #a5a5a5 0%,#a3a3a3 22%,#777777 87%,#848484 100%);
}

.header__logo {
    height: 25px;
    object-fit: contain;
    /* margin-left: 25px; */
}

.header__left {
    display: flex;
    position: relative;
    left: 25px;
}

.header__right {
    position: relative;
    right: 25px;
}