.header {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    z-index: 10;
    top: 0%;
    background: linear-gradient(to bottom, #929292 0%,#a8a8a8 22%,#d8d8d8 87%,#ececec 100%);
}

.exploreLink {
    position: relative;
    text-align: center;
    align-self: center;
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.exploreLink:hover {
    cursor: pointer;
    /* color: rgb(0, 233, 233); */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.logo2 {
    width: 85px;
    object-fit: contain;
    /* margin-left: 25px; */
}

.header__left {
    display: flex;
    position: relative;
    left: 25px;
}

.header__right {
    position: relative;
    right: 25px;
}

.tooltip .tooltiptext {
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }

/* .loginReg {
    /* position: fixed;
    left: 1vw;
    top: 10vh; */
    /* width: 6vw;
    height: 4vh;
    background-color: rgba(0, 0, 0, 0.267);
    border: 1px solid #03e9f4;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    z-index: 1;
  } */
  
  /* .loginReg:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 15px #03e9f4,
                0 0 20px #03e9f4,
                0 0 50px #03e9f4;
  } */