.logo{
  width: 800px;
}
.background-one {
  width: 100vw;
  height: 75vh;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.623) 0%, rgba(0, 0, 0, 0.856) 75%, #000000 100%),url('../components/Landing/images/8.png') no-repeat center center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.background-two {
  width: 100vw;
  height: 75vh;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.466) 0%, rgba(0, 0, 0, 0.493) 75%, #000000 100%),url('../components/Landing/images/6.png') no-repeat center center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.background-three {
  width: 100vw;
  height: 75vh;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.466) 0%, rgba(0, 0, 0, 0.493) 75%, #000000 100%),url('../components/Landing/images/7.png') no-repeat center center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.background-four {
  width: 100vw;
  height: 75vh;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.555) 0%, rgba(0, 0, 0, 0.493) 75%, #000000 100%), url('../components/Landing/images/5.png') no-repeat center center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.landing-pgtext{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 40vh;
  color: white;
  opacity: .90;
  background-color: black;
}

.landing-H1 {
  font-family: 'Pacifico', cursive; 
  font-size: 100px;
  line-height: 190%;
}



.loginReg {
  position: fixed;
  left: 1vw;
  top: 10vh;
  width: 4vw;
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.267);
  border: 1px solid #03e9f4;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  z-index: 1;
}

.loginReg:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 15px #03e9f4,
              0 0 20px #03e9f4,
              0 0 50px #03e9f4;
}