.background-one {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url('../components/Landing/images/explore.jpeg') no-repeat center center;
  background-size: cover;
}

.background-two {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url('../components/Landing/images/create.jpeg') no-repeat center center;
  background-size: cover;
}

.background-three {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url('../components/Landing/images/sell.webp') no-repeat center center;
  background-size: cover;
}

.loginReg {
  position: fixed;
  left: 1vw;
  top: 10vh;
  width: 4vw;
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.267);
  border: 1px solid #03e9f4;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  z-index: 1;
}

.loginReg:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 15px #03e9f4,
              0 0 20px #03e9f4,
              0 0 50px #03e9f4;
}