
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.mainContain {
    font-family: "Poppins", sans-serif;
    position: relative;
    height: 150vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between; 
}

.openPostContain {
    position: absolute;
    font-family: "Poppins", sans-serif;
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1; 
}

.commentContain {
    position: relative;
    top: 45vh;
    left: 45vw;
    margin-top: 200px;
    z-index: 0;
}

.rateContain {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.openCard {
    position: fixed;
    top: 5vh;
    height: 50vh;
    width: 50vw;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    margin: 50px;
    z-index: 2;
}

.buttonContain {
    position: relative;
    top: 1vh;
    margin-bottom: 5px;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.link {
    text-decoration: none;
    
}




.back {
    width: 35px;
    height: 35px;
    background-color: aquamarine;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back:hover {
    cursor: pointer;
}

.delete {
   color: red;
}

.card {
    transform-style: preserve-3d;
    height: 255px;
    width: 245px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
}



 .title {
    padding-top: 5%;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.75s ease-out;
    text-align: center;
    text-decoration: none;
}
 .openTitle {
    /* position: absolute; */
    top: 5vh; 
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.75s ease-out;
    text-align: center;
    text-decoration: none;
}

.save {
    position: absolute;
    bottom: 3vh;
    right: 1vw;
    color: red;
}


.date {
    font-size: 0.5rem;
    color: lightgray;
}

/* temporary media style to help with space */
.media {
    width: 50%;
    height: 50%;
}

.postMedia {
    width: 50%;
    height: 50%;
}

.category {
    font-style: italic;
}

.postData {
    font-style: italic;
}

.commentContain h1 {
    position: absolute;
    text-align: center;
}

.comments h2{
    text-align: left;
}
.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    margin: 35px 0;
}

.reviews input{
    display: none;
}
.reviews label{
    color: #999;
    margin: 5px 0;
    padding-right: 5px;
    cursor: pointer;
    float: right;
}
.reviews input:not(:checked) ~ label:hover,
.reviews input:not(:checked) ~ label:hover ~ label{
    color: crimson;
}
.reviews input:checked ~ label{
    color: crimson;
}

.comments_list {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.commentIndex {
    z-index: 0;
}

