
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.link {
    text-decoration: none;
    
}

.mainContain {
    font-family: "Poppins", sans-serif;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    perspective: 1000px;
    flex-wrap: wrap; 
}

.openPostContain {
    position: relative;
    font-family: "Poppins", sans-serif;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    perspective: 1000px;
    flex-wrap: wrap; 

}

.container {
    /* background-color: lightblue; */
    width: 13vw;
}

.buttonContain {
    position: relative;
    top: 1vh;
    margin-bottom: 5px;
    width: 45vw;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.back {
    width: 35px;
    height: 35px;
    background-color: aquamarine;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back:hover {
    cursor: pointer;
}

.delete {
   color: red;
}



.card {
    transform-style: preserve-3d;
    height: 25vh;
    width: 12vw;
    border-radius: 30px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}

.openCard {
    position: absolute;
    top: 0px;
    right: 30vw;
    height: 40vh;
    width: 30vw;
    border-radius: 30px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    margin: 50px;
}


 .title {
    padding-top: 5%;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.75s ease-out;
    text-align: center;
    text-decoration: none;
}
 .openTitle {
    /* position: absolute; */
    top: 5vh; 
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.75s ease-out;
    text-align: center;
    text-decoration: none;
}

.save {
    position: absolute;
    bottom: 3vh;
    right: 1vw;
    color: red;
}


.date {
    font-size: 0.5rem;
    color: lightgray;
}

/* temporary media style to help with space */
.media {
    width: 50%;
    height: 50%;
}

.postMedia {
    width: 50%;
    height: 50%;
}

.commentContain {
    position: absolute;
    top: 20vh;
    margin-top: 325px;
}


.comments h2{
    text-align: left;
}
.reviews{
    width: 115px;
    margin: 10px 0;
}

.reviews input{
    display: none;
}
.reviews label{
    color: #999;
    margin: 5px 0;
    padding-right: 5px;
    cursor: pointer;
    float: right;
}
.reviews input:not(:checked) ~ label:hover,
.reviews input:not(:checked) ~ label:hover ~ label{
    color: crimson;
}
.reviews input:checked ~ label{
    color: crimson;
}
