.product_view {
    max-width: 700px;
    min-width: 600px;
    overflow: hidden;
    max-height: 750px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(51, 51, 51);
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    border-radius: 5px;
    background-color: white;
    font-family: sans-serif;
}

.product_view img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 250px;
}

.product_view span {
    color: crimson;
}

.buttonContain {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttonContain span {
    position: relative;
    left: 10px;
}

.product_category {
    font-size: 12px;
    float: right;
    padding-bottom: 5px;
}
