.search_container {
    width: 25%;
}

.search_select_form {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 50px;
    border: 1px solid darkgray;
    border-radius: 5px;
}

.header__inputSearch {
    width: 100%;
    height: 20px;
    padding-left: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

.header__inputButton {
    cursor: pointer;
}

.user_search {
    height: 500px;
    font-size: 17px;
    top: 8vh;
    position: absolute;
    background: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 7px 14px 0px rgba(0,0,0,0.35);
    overflow-y: scroll;
    z-index: 2;
}


.search_by {
    width: 130px;
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.search_by option {
    font-family: "Poppins", sans-serif;
}

.search_name {
    width: 315px;
    display: flex;
    justify-content: space-evenly;
    padding: 12px;
    border-bottom: 1px dotted black;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.search_name:hover {
    background-color: lightgray;
}

.search_name:active {
    background-color: rgb(192, 192, 192);
}

.user_first_last {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    font-size: 13px;
    font-weight: normal;
}

.search_post {
    width: 315px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px dotted black;
    cursor: pointer;
}

.search_post:hover {
    background-color: lightgray;
}

.search_post:active {
    background-color: rgb(192, 192, 192);
}

.search_post_title {
    width: 150px;
    font-style: italic;
}

.search_post_category {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.search_category {
    width: 315px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px dotted black;
    cursor: pointer;
}

.search_category:hover {
    background-color: lightgray;
}

.search_category:active {
    background-color: rgb(192, 192, 192);
}

.search_title {
    width: 315px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px dotted black;
    cursor: pointer;
}

.search_title:hover {
    background-color: lightgray;
}

.search_title:active {
    background-color: rgb(192, 192, 192);
}

.search_description {
    width: 315px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px dotted black;
    cursor: pointer;
}

.search_description:hover {
    background-color: lightgray;
}

.search_description:active {
    background-color: rgb(192, 192, 192);
}

.search_by_description {
    width: 150px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.search_description_title {
    width: 150px;
    margin-right: 15px;
    font-style: italic;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.search_link {
    text-decoration: none;
    color: black;
}

.search_item {
    width: 315px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px dotted black;
    cursor: pointer;
}

.search_item:hover {
    background-color: lightgray;
}

.search_item:active {
    background-color: rgb(192, 192, 192);
}

.search_store_item {
    width: 150px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.store_item_price {
    width: 50px;
    font-style: italic;
}