.entire_form {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.search__input {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #929292d5 0%,#a8a8a8c0 22%,#cacaca 87%,#ececec 100%);
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 30px;
    margin-left: 15px;
}

.inputSearch {
    width: 100%;
    height: 20px;
    padding-left: 5px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

.select_search {
    width: 130px;
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.store_search {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 50px;
    /* margin: 0px 50px; */
    /* overflow-y: scroll; */
    /* z-index: 2; */
}

.search_post_category {
    font-size: 12px;
    float: left;
    padding-bottom: 5px;
}