.back_btn {
    width: 35px;
    height: 27px;
    position: absolute;
    top: 10px;
    left: 50px;
    background-color: rgba(0, 0, 0, 0.267);
    border: 1px solid #03e9f4;
    border-radius: 5px;
    color: white;
  }

.back_btn:hover {
background: #03e9f4;
color: #fff;
border-radius: 5px;
box-shadow: 0 0 5px #03e9f4,
            0 0 15px #03e9f4,
            0 0 20px #03e9f4,
            0 0 50px #03e9f4;
}

/* .visit_profile {
  font-family: "Poppins", sans-serif;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  perspective: 1000px;
  flex-wrap: wrap; 
} */