.back_btn {
    width: 35px;
    height: 27px;
    position: absolute;
    top: 10px;
    left: 50px;
    background-color: rgba(0, 0, 0, 0.267);
    border: 1px solid #03e9f4;
    border-radius: 5px;
    color: white;
  }

.back_btn:hover {
  cursor: pointer;
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 15px #03e9f4,
              0 0 20px #03e9f4,
              0 0 50px #03e9f4;
}

.main_contain {
  font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.432) 0%, rgba(0, 0, 0, 0) 75%, #00000036 100%),url('../components/Landing/images/19.png') no-repeat center center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.link {
  text-decoration: none;
  color: black;
}