.comment_card{
    position: absolute;
    right: 65vw;
    width: 60vw;
    border: 2px solid #ccc;
    background-color: white;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.comment_card h3{
    text-transform: capitalize;
    color: darkblue;
}
.comment_card_row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px 0;
    cursor: pointer;
}


.comment_card span{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: lightgray;
    font-size: 14px;
    margin: 5px;
}
.comment_card p{
    color: #444;
    line-height: 1.5;
    margin: 10px 0;
}
.comment_card .nav_comment{
    display: flex;
    flex-wrap: wrap;
}
.comment_card .nav_comment p{
    color: darkblue;
    padding-right: 10px;
    text-transform: capitalize;
    cursor: pointer;
}
.comment_card .nav_comment p:hover{
    text-decoration: underline;
}
/* ----------- reply comment ------------- */
.reply_comment{
    margin-left: 20px;
}

